h1{text-align:center;
    font-size:300%;
}
ul {list-style-type: none;
}
h2 {color:white;
    font-family: courier;
    font-size: 130%;
}
table, th, td {border: 1px solid black;
    border-collapse: collapse;
    font-family: courier}
th, td {width:30mm;
length:50mm;
}
img{float:left;
    margin-right:50px;
    margin-left: 50px;
}
.pokemon{background-color:thistle;
    border: 2px solid black;
    margin-right:60px;
    margin-left:10px;
    padding-bottom:40px;
    padding-top: 10px;
    font-family: courier
}

.searchbox input {
    margin:10px;
    border: 1px solid black;
    font-size: 17px;
}

