h1{text-align:center;
    font-size:300%;
}
ul {list-style-type: none;
}
.name{color:white;
    font-family: courier;
    font-size: 130%;
    margin-left: 1cm;
    margin-bottom: 0.3cm;
}
.Description{
    margin-right: 4cm;
    margin-top: 0.5cm;
}
table, th, td {border: 1px solid black;
    border-collapse: collapse;
    font-family: courier;
    margin-top: 0.7cm;

}
th, td {width:30mm;
}
img{float:left;
    margin-right:50px;
    margin-left: 2cm;
}
.pokemon{background-color:thistle;
    border: 2px solid black;
    margin-right:5cm;
    margin-left:5cm;
    padding-bottom:40px;
    padding-top: 10px;
    font-family: courier
}

.searchbox input {
    margin:10px;
    border: 1px solid black;
    font-size: 17px;
}

