
ul {list-style-type: none;}
h2 {color:white;
    font-family: courier;
    font-size: 130%;}
table, th, td {border: 1px solid black;
    border-collapse: collapse;}
th, td {padding: 5px;}
img{float:left;margin-right:50px;}
.pokemon{background-color:thistle;
    border: 2px solid black;
    margin-right:60px;
    margin-left:10px;
    padding:20px;}
